.form__button {
  max-width: 25vw;
  width: 100%;

  border: 0;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  margin-bottom: 15px;
  padding: 5px;
  transition: all ease-in-out 0.5s;
  border: 2px solid black;
  cursor: pointer;
}
.form__button:hover {
  background-color: rgb(6, 6, 6);
  transition: all ease-in-out 0.5s;
  border: 2px solid rgb(255, 255, 255);
  color: white;
}
