.page {
  background-image: url(../../images/908660.jpg);
  background-position: center top;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  font-family: "Ninja", Arial, Helvetica, sans-serif;
}
