.card__subtitle {
  color: rgb(53, 36, 106);
  margin-top: 100px;
  text-align: center;
  font-size: calc(24px + 18 * (100vw / 1440));
}
@media screen and (max-width: 540px) {
  .card__subtitle {
    margin-top: 70px;
    font-size: calc(12px + 24 * (100vw / 1440));
  }
}
