.swiper {
  background-color: rgba(4, 4, 4, 0.8);
  color: white;
  width: 50%;

  border: 3px solid rgb(0, 0, 0);
  border-radius: 8px;
}
.swiper-button-prev {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: all ease-in-out 0.5s;
}
.swiper-button-next {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: all ease-in-out 0.5s;
}
.swiper-button-next:hover {
  opacity: 0.6;
  transition: all ease-in-out 0.5s;
}
.swiper-button-prev:hover {
  opacity: 0.6;
  transition: all ease-in-out 0.5s;
}
.swiper-scrollbar-drag {
  background-color: aliceblue;
}
@media screen and (max-width: 540px) {
  .swiper {
    width: 70%;
  }
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
}
